@import "Utils";

.aboutContainer {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(5px);

  .icon {
    height: 140px;
    width: 140px;
    background: $primary-color;
    box-shadow: 0px 0px 40px 10px $secondary-color;
    display: flex;
    justify-content: center;
    transition: 0.1s, opacity 0.5s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 60px 1px rgba($secondary-color, 0.9);
    }

    &.inactive {
      opacity: 0;
    }
  }

  .preview {
    height: 90vh;
    position: absolute;
    top: 20px;
    z-index: -1;

    &.active {
      z-index: 10;

      .iconBubble,
      .descBubble {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    .iconBubble,
    .descBubble {
      background: $primary-color;
      border-radius: 50%;
      position: relative;
      margin-top: 2vh;
      transform: translateY(20%);
      opacity: 0;
    }
    .iconBubble {
      box-shadow: -10px 0px 20px 1px $secondary-color;
      top: 40vh;
      height: 20vh;
      width: 20vh;
      padding: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;
      transition: all 0.8s ease;

      img {
        height: 70%;
        width: 70%;
      }
    }

    .descBubble {
      height: 70vh;
      width: 20vw;
      padding: 2vh calc(2vh + 100px);
      top: -30vh;
      right: -10vw;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      box-shadow: 0px 0px 40px 10px $secondary-color;
      z-index: 4;
      transition: all 0.6s ease;
      font-size: 1.05em;

      h1 {
        margin-top: 10vh;
        margin-bottom: 10px;
      }

      .underline {
        height: 2px;
        background: rgba($secondary-color, 0.5);
        width: 60%;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .aboutContainer {
    flex-direction: column;

    .preview {
      height: 90vh;
      position: absolute;
      top: 20px;
      z-index: -1;

      .iconBubble {
        top: 70vh;
      }

      .descBubble {
        height: 90vh;
        width: 95vw;
        max-width: 250px;
        font-size: 1em;
        padding: 20px 40px;
      }
    }
  }
}
