@import "Utils";
$cardPosition: -30vh;

.experienceContainer {
  height: 90vh;
  backdrop-filter: blur(5px);

  &.showCards {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    align-items: center;

    .expCard {
      position: static;
      height: 80vh;
      width: 20vw;

      p {
        font-size: 18px;
      }
    }

    .expCardBox {
      display: none;
    }
  }

  .expCard {
    background: $primary-color;
    box-shadow: 0px 0px 10px 2px $secondary-color;
    border-radius: 85px;
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 1s ease-out slideDown;
    animation-fill-mode: forwards;
    transition: all ease-out 1s;
    opacity: 0;
    transform: translateY(-20%);

    h1 {
      margin-top: 20px;
      text-align: center;
      margin-bottom: 10px;
    }

    .underline {
      height: 2px;
      background: rgba($secondary-color, 0.5);
      width: 80%;
    }

    p {
      margin: 10%;
      font-size: 10px;

      li {
        margin-left: -20px;
      }

      li::before {
        content: "";
        position: relative;
        right: 15px;
        top: -5px;
        width: 6px;
        height: 6px;
        display: inline-block;
        box-shadow: 0px 0px 10px 1px rgba($secondary-color, 0.8);
        border-radius: 50%;
        color: $primary-color;
      }
    }

    @for $i from 1 through 4 {
      &.card#{$i} {
        top: -140% + 40% * $i;
        z-index: 6 - $i;
        animation-delay: $i * 100ms;
      }
    }
  }

  .expCardBox {
    position: relative;
    top: -120vh;
    z-index: 10;
    max-width: 550px;
    animation: 0.8s ease-out slideUp;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .expCard,
  .expCardBox {
    margin: 0px auto;
  }

  .expCardBig {
    position: absolute;
    z-index: 50 !important;
    top: 15vh !important;
    height: 80vh;
    width: 40vw;
    left: 30vw;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@keyframes slideDown {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  100% {
    opacity: 1;
  }
}
