@import "Utils";

.home {
  width: 100vw;
  height: 80vh;

  // width: 100%;

  .slick-track {
    display: flex;
    padding: 30px;
    gap: 3rem;
  }
  .slick-slide {
    display: flex;
    justify-content: center;
    margin-bottom: 1;
    outline: none;
  }

  .slick-list {
    overflow: hidden;
  }

  .card {
    width: 90vw !important;
    height: 75vh;
    min-height: 650px;
    max-height: 100vh;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    font-family: $quint-font;
    padding: 0px 40px;
    margin: 30px 0px;
    box-shadow: 0px 5px 40px 5px rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);

    .cardImgBoxVer {
      max-height: 650px;
      background-color: black;
      img {
        width: auto;
        height: 550px;
      }
    }

    .cardImgBoxHor {
      height: 450px;
      width: 670px;
      img {
        width: inherit;
        height: inherit;
      }
    }

    .descriptionBox {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .cardImgBoxHor,
    .cardImgBoxVer,
    .descriptionBox {
      margin: 100px 30px;
    }

    .cardImgBoxHor,
    .cardImgBoxVer {
      box-shadow: 0px 0px 80px 50px rgba(0, 0, 0, 1);
    }

    .descriptionBox,
    .cardImgBox {
      padding: 0% 3%;
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .home {
    .card {
      width: 70vw !important;
      height: 70vh;
      min-width: 700px;
      min-height: 80vh;
      max-height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      padding: 40px 0px;
      margin: 0px 30px;

      .cardImgBoxVer {
        max-width: 470px;
        img {
          height: 400px;
        }
      }

      .cardImgBoxHor {
        height: 300px;
        width: 470px;
      }
      .cardImgBoxHor,
      .cardImgBoxVer,
      .descriptionBox {
        margin: 50px 30px;
      }
    }
  }
}
