@import "Utils";

@function slide($i) {
  @return $i * 100;
}

.projectsContainer {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;

  @for $i from 1 through 4 {
    .d-#{$i} {
      animation-delay: $i * 100ms !important;
    }
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 50px;
    margin: 3% 8%;
    min-height: 35vh;
    background: $primary-color;
    box-shadow: 0px 0px 40px 10px $secondary-color;
    animation: 0.5s ease-out slide;
    animation-fill-mode: forwards;
    opacity: 0;

    & > * {
      margin-bottom: 10px;
    }
  }

  .underline {
    height: 2px;
    background: rgba($secondary-color, 0.5);
  }
  ul {
    list-style: none;
  }

  li {
    &::before {
      content: "";
      position: relative;
      right: 15px;
      top: -5px;
      width: 6px;
      height: 6px;
      display: inline-block;
      box-shadow: 0px 0px 10px 5px $secondary-color;
      border-radius: 50%;
      color: $primary-color;
    }
  }

  li.li-2 {
    &::before {
      content: "";
      position: relative;
      right: 15px;
      top: -5px;
      width: 6px;
      height: 6px;
      display: inline-block;
      box-shadow: 0px 0px 10px 5px rgba(red, 1);
      border-radius: 50%;
      color: $primary-color;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: $breakpoint-phone) {
  .projectsContainer {
    grid-template-columns: 1fr;
    overflow-y: scroll;
    max-height: 110vh;

    .projectCard {
      margin: 3vh 8vw;
    }
  }
}
