@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quintessential&display=swap");

$primary-color: #050505;
$secondary-color: #2f3df8;
$font-color: #ffffff;
$primary-font-family: "Oswald", sans-serif;
$quint-font: "Quintessential", cursive;
$font-size: 18px;
